html, body {
    align-items: center;
    background-color: #21232A;
    color: #fff;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans, serif;
    font-size: 1rem;
    justify-content: center;
}


.counter {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.counter-buttons {
    display: flex;
    width: 15rem;
    justify-content: space-between;
}

.counter-buttons button{
    font-size: 1.2rem;
    height: 2.5rem;
    width: 4rem;
    cursor: pointer;
}